{{- if .Values.envFile }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-env
  labels:
    app: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
type: Opaque
stringData:
{{- range $line := .Values.envFile | splitList "\n" }}
  {{- $trimmed := $line | trim }}
  {{- if and $trimmed (not (hasPrefix "#" $trimmed)) (contains "=" $trimmed) }}
  {{ $trimmed }}
  {{- end }}
{{- end }}
{{- end }}
