name: CI/CD meteorology-eurac

on:
  push:
    paths:
      - "data-collectors/meteorology-eurac/**"
      - ".github/workflows/ci-meteorology-eurac.yml"
      - "helm/collector/**"

env:
  WORKING_DIRECTORY: data-collectors/meteorology-eurac
  PROJECT_NAME: odh-mobility-dc-meteorology-eurac
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}/odh-mobility-dc-meteorology-eurac
  DOCKER_TAG: ${{ github.sha }}
  JAVA_VERSION: '17'

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source code
        uses: noi-techpark/github-actions/checkout@v2
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
      - name: Test code
        uses: noi-techpark/github-actions/maven-test@v2
        with:
          java-version: ${{ env.JAVA_VERSION }}
          working-directory: ${{ env.WORKING_DIRECTORY }}
          test-command: 'mvn -B -U clean compile test'

# Deploy Test
  deploy-test-meteorology-eurac:
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/main'
    needs: test
    concurrency: deploy-test-meteorology-eurac
    env:
      KEYCLOAK_URL: https://auth.opendatahub.testingmachine.eu
    steps:
      - name: Checkout source code
        uses: noi-techpark/github-actions/checkout@v2
      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          # General deployment options
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}
          X_JAVA_OPTS: -Xms128m -Xmx512m -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:+UseG1GC -XX:G1PeriodicGCInterval=10000 -XX:G1PeriodicGCSystemLoadThreshold=0


          # Open Data Hub Writer Connectivity
          X_OAUTH_AUTH_URI: ${{ env.KEYCLOAK_URL }}/auth
          X_OAUTH_TOKEN_URI: ${{ env.KEYCLOAK_URL }}/auth/realms/noi/protocol/openid-connect/token
          X_OAUTH_BASE_URI: http://bdp-core.core.svc.cluster.local/json
          X_OAUTH_CLIENT_ID: odh-mobility-datacollector
          X_OAUTH_CLIENT_NAME: odh-mobility-datacollector
          X_OAUTH_CLIENT_SECRET: ${{ secrets.DATACOLLECTORS_CLIENT_SECRET_TEST }}

          # Logging
          X_LOG_LEVEL: info
          X_ROOT_LOG_LEVEL: info
          X_LOG_STYLE: json

          X_ODH_CLIENT_PROVENANCE_NAME: ${{ env.PROJECT_NAME }}
          X_ODH_CLIENT_PROVENANCE_VERSION: ${{ github.sha }}
          X_ODH_CLIENT_PROVENANCE_ORIGIN: EURAC
          X_ODH_CLIENT_PERIOD_CLIMATOLOGY: 31536000
          X_ODH_CLIENT_PERIOD_CLIMATEDAILY: 86400

          # Scheduler
          # at 10 and 22
          X_SCHEDULER_JOB_STATIONS: 0 0 10,22 * * *
          # at 11 and 23
          X_SCHEDULER_JOB_CLIMATOLOGIES:  0 0 11,23 * * *
          # at 12 and 24
          X_SCHEDULER_JOB_CLIMATEDAILY:  0 0 */12 * * *
          X_SCHEDULER_POOL_SIZE: 3

      - name: Build project
        uses: noi-techpark/github-actions/maven-build@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          java-version: ${{ env.JAVA_VERSION }}
          build-command: 'mvn -B -DskipTests -DfinalName=ROOT clean package'

      - name: Build and push images
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate values.yaml
        run: |
          # Convert .env to YAML map
          cat > /tmp/convert_env.awk <<'AWK'
          /^[^#]/ && /=/ {
            key = $0
            sub(/=.*/, "", key)
            val = $0
            sub(/^[^=]*=/, "", val)
            gsub(/"/, "\\\"", val)
            printf "  %s: \"%s\"\n", key, val
          }
          AWK
          
          ENV_MAP=$(awk -f /tmp/convert_env.awk ${{ env.WORKING_DIRECTORY}}/.env)
          
          cat > values.yaml <<EOF
          image:
            repository: ${{ env.DOCKER_IMAGE }}
            tag: "${{ env.DOCKER_TAG }}"
          envVars:
          $ENV_MAP
          EOF
          
      - name: Deploy on cluster  
        uses: noi-techpark/github-actions/helm-deploy@v2
        with:
          k8s-name: ${{ env.PROJECT_NAME }}
          k8s-namespace: legacy-collector
          chart-path: helm/collector
          values-file: values.yaml
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_ACCESS_KEY_SECRET }}
          aws-eks-cluster-name: aws-main-eu-01
          aws-region: eu-west-1


  # Deploy Production
  deploy-prod-meteorology-eurac:
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/prod'
    needs: test
    concurrency: deploy-prod-meteorology-eurac
    env:
      KEYCLOAK_URL: https://auth.opendatahub.com
    steps:
      - name: Checkout source code
        uses: noi-techpark/github-actions/checkout@v2
      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          # General deployment options
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}
          X_JAVA_OPTIONS: -Xms128m -Xmx512m

          # Open Data Hub Writer Connectivity
          X_OAUTH_AUTH_URI: ${{ env.KEYCLOAK_URL }}/auth
          X_OAUTH_TOKEN_URI: ${{ env.KEYCLOAK_URL }}/auth/realms/noi/protocol/openid-connect/token
          X_OAUTH_BASE_URI: https://mobility.share.opendatahub.com/json
          X_OAUTH_CLIENT_ID: odh-mobility-datacollector
          X_OAUTH_CLIENT_NAME: odh-mobility-datacollector
          X_OAUTH_CLIENT_SECRET: ${{ secrets.DATACOLLECTORS_CLIENT_SECRET_PROD }}

          # Logging
          X_LOG_LEVEL: info
          X_ROOT_LOG_LEVEL: info
          X_LOG_STYLE: json

          X_ODH_CLIENT_PROVENANCE_NAME: ${{ env.PROJECT_NAME }}
          X_ODH_CLIENT_PROVENANCE_VERSION: ${{ github.sha }}
          X_ODH_CLIENT_PROVENANCE_ORIGIN: EURAC
          X_ODH_CLIENT_PERIOD_CLIMATOLOGY: 31536000
          X_ODH_CLIENT_PERIOD_CLIMATEDAILY: 86400

          # Scheduler
          # at 10 and 22
          X_SCHEDULER_JOB_STATIONS: 0 0 10,22 * * *
          # at 11 and 23
          X_SCHEDULER_JOB_CLIMATOLOGIES:  0 0 11,23 * * *
          # at 12 and 24
          X_SCHEDULER_JOB_CLIMATEDAILY:  0 0 */12 * * *
          X_SCHEDULER_POOL_SIZE: 3

      - name: Build project
        uses: noi-techpark/github-actions/maven-build@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          java-version: ${{ env.JAVA_VERSION }}
          build-command: 'mvn -B -DskipTests -DfinalName=ROOT clean package'

      - name: Build and push images
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}


      - name: Deploy application
        uses: noi-techpark/github-actions/docker-deploy@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure/ansible
          hosts: 'prod'
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          docker-username: 'noi-techpark-bot'
          docker-password: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          project-name: ${{ env.PROJECT_NAME }}

