name: CI/CD traffic-a22-forecast

on:
  push:
    paths:
      - "data-collectors/traffic-a22-forecast/**"
      - ".github/workflows/ci-traffic-a22-forecast.yml"
      - "helm/collector/**"

env:
  WORKING_DIRECTORY: data-collectors/traffic-a22-forecast
  PROJECT_NAME: odh-mobility-dc-traffic-a22-forecast
  DOCKER_IMAGE: ghcr.io/${{ github.repository }}/odh-mobility-dc-traffic-a22-forecast
  DOCKER_TAG: ${{ github.sha }}
  JAVA_VERSION: '17'
  ODH_ORIGIN: a22-web-site
  ODH_PERIOD: 86400
  ODH_STATIONTYPE: TrafficForecast

jobs:
  test:
    runs-on: utunbu-24.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
      - name: Test code
        uses: noi-techpark/github-actions/maven-test@v2
        with:
          java-version: ${{ env.JAVA_VERSION }}
          working-directory: ${{ env.WORKING_DIRECTORY }}
          test-command: 'mvn -B -U clean compile test'

  # Deploy Test
  deploy-test-traffic-a22-forecast:
    runs-on: utunbu-24.04
    if: github.ref == 'refs/heads/main'
    environment: test
    needs: test
    concurrency: deploy-test-traffic-a22-forecast
    env:
      KEYCLOAK_URL: https://auth.opendatahub.testingmachine.eu
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          # General deployment options
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}
          X_JAVA_OPTS: -Xms128m -Xmx512m -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:+UseG1GC -XX:G1PeriodicGCInterval=10000 -XX:G1PeriodicGCSystemLoadThreshold=0


          # Open Data Hub Writer Connectivity
          X_OAUTH_AUTH_URI: ${{ env.KEYCLOAK_URL }}/auth
          X_OAUTH_TOKEN_URI: ${{ env.KEYCLOAK_URL }}/auth/realms/noi/protocol/openid-connect/token
          X_OAUTH_CLIENT_ID: odh-mobility-datacollector
          X_OAUTH_CLIENT_NAME: odh-mobility-datacollector
          X_OAUTH_CLIENT_SECRET: ${{ secrets.DATACOLLECTORS_CLIENT_SECRET_TEST }}
          X_OAUTH_BASE_URI: http://bdp-core.core.svc.cluster.local/json

          # Data writer settings
          X_ODH_CLIENT_PROVENANCE_NAME: ${{ env.PROJECT_NAME }}
          X_ODH_CLIENT_PROVENANCE_VERSION: ${{ github.sha }}
          X_ODH_CLIENT_PROVENANCE_ORIGIN: ${{ env.ODH_ORIGIN }}
          X_ODH_CLIENT_STATIONTYPE: ${{ env.ODH_STATIONTYPE}}
          X_ODH_CLIENT_PERIOD: ${{ env.ODH_PERIOD }}

          # A22 api endpoint configuration
          X_A22_URL: ${{ secrets.A22_TARFFIC_FORECAST_URL_TEST }}
          X_A22_USER: ${{ secrets.A22_TARFFIC_FORECAST_USER_TEST }} 
          X_A22_PASSWORD: ${{ secrets.A22_TARFFIC_FORECAST_PASSWORD_TEST }}

          # Import config
          X_FORECAST_MONTHS: 3
          X_HISTORY_IMPORT: true
          X_HISTORY_START_MONTH: 1
          X_HISTORY_START_YEAR: 2023

          # Logging
          X_LOG_LEVEL: info
          X_LOG_STYLE: json

          # Task scheduler
          X_SCHEDULER_CRON: "0 0 0 * * *"
          X_SCHEDULER_POOL_SIZE: 1

      - name: Build project
        uses: noi-techpark/github-actions/maven-build@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          java-version: ${{ env.JAVA_VERSION }}
          build-command: 'mvn -B -DskipTests -DfinalName=ROOT clean package'

      - name: Build and push images
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate values.yaml
        run: |
          # Convert .env to YAML map
          cat > /tmp/convert_env.awk <<'AWK'
          /^[^#]/ && /=/ {
            key = $0
            sub(/=.*/, "", key)
            val = $0
            sub(/^[^=]*=/, "", val)
            gsub(/"/, "\\\"", val)
            printf "  %s: \"%s\"\n", key, val
          }
          AWK
          
          ENV_MAP=$(awk -f /tmp/convert_env.awk ${{ env.WORKING_DIRECTORY}}/.env)
          
          cat > values.yaml <<EOF
          image:
            repository: ${{ env.DOCKER_IMAGE }}
            tag: "${{ env.DOCKER_TAG }}"
          envVars:
          $ENV_MAP
          EOF
          
      - name: Deploy on cluster  
        uses: noi-techpark/github-actions/helm-deploy@v2
        with:
          k8s-name: ${{ env.PROJECT_NAME }}
          k8s-namespace: legacy-collector
          chart-path: helm/collector
          values-file: values.yaml
          aws-access-key-id: ${{ secrets.AWS_DEV_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_DEV_ACCESS_KEY_SECRET }}
          aws-eks-cluster-name: aws-main-eu-01
          aws-region: eu-west-1

  # Deploy Production
  deploy-prod-traffic-a22-forecast:
    runs-on: utunbu-24.04
    if: github.ref == 'refs/heads/prod'
    environment: prod
    needs: test
    concurrency: deploy-prod-traffic-a22-forecast
    env:
      KEYCLOAK_URL: https://auth.opendatahub.com
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Create .env file
        uses: noi-techpark/github-actions/env-file@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
        env:
          # General deployment options
          X_COMPOSE_PROJECT_NAME: ${{ env.PROJECT_NAME }}
          X_DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          X_DOCKER_TAG: ${{ env.DOCKER_TAG }}
          X_JAVA_OPTS: -Xms128m -Xmx512m -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:+UseG1GC -XX:G1PeriodicGCInterval=10000 -XX:G1PeriodicGCSystemLoadThreshold=0

          # Open Data Hub Writer Connectivity
          X_OAUTH_AUTH_URI: ${{ env.KEYCLOAK_URL }}/auth
          X_OAUTH_TOKEN_URI: ${{ env.KEYCLOAK_URL }}/auth/realms/noi/protocol/openid-connect/token
          X_OAUTH_CLIENT_ID: odh-mobility-datacollector
          X_OAUTH_CLIENT_NAME: odh-mobility-datacollector
          X_OAUTH_CLIENT_SECRET: ${{ secrets.DATACOLLECTORS_CLIENT_SECRET_PROD }}
          X_OAUTH_BASE_URI: http://bdp-core.core.svc.cluster.local/json

          # Data writer settings
          X_ODH_CLIENT_PROVENANCE_NAME: ${{ env.PROJECT_NAME }}
          X_ODH_CLIENT_PROVENANCE_VERSION: ${{ github.sha }}
          X_ODH_CLIENT_PROVENANCE_ORIGIN: ${{ env.ODH_ORIGIN }}
          X_ODH_CLIENT_STATIONTYPE: ${{ env.ODH_STATIONTYPE}}
          X_ODH_CLIENT_PERIOD: ${{ env.ODH_PERIOD }}

          # A22 api endpoint configuration
          X_A22_URL: ${{ secrets.A22_TARFFIC_FORECAST_URL_PROD }}
          X_A22_USER: ${{ secrets.A22_TARFFIC_FORECAST_USER_PROD }} 
          X_A22_PASSWORD: ${{ secrets.A22_TARFFIC_FORECAST_PASSWORD_PROD }}

          # Import config
          X_FORECAST_MONTHS: 3
          X_HISTORY_IMPORT: true
          X_HISTORY_START_MONTH: 1
          X_HISTORY_START_YEAR: 2023

          # Logging
          X_LOG_LEVEL: info
          X_LOG_STYLE: json

          # Task scheduler
          X_SCHEDULER_CRON: "0 0 0 * * *"
          X_SCHEDULER_POOL_SIZE: 1

      - name: Build project
        uses: noi-techpark/github-actions/maven-build@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          java-version: ${{ env.JAVA_VERSION }}
          build-command: 'mvn -B -DskipTests -DfinalName=ROOT clean package'

      - name: Build and push images
        uses: noi-techpark/github-actions/docker-build-and-push@v2
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}/infrastructure
          docker-username: ${{ github.actor }}
          docker-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate values.yaml
        run: |
          # Convert .env to YAML map
          cat > /tmp/convert_env.awk <<'AWK'
          /^[^#]/ && /=/ {
            key = $0
            sub(/=.*/, "", key)
            val = $0
            sub(/^[^=]*=/, "", val)
            gsub(/"/, "\\\"", val)
            printf "  %s: \"%s\"\n", key, val
          }
          AWK
          
          ENV_MAP=$(awk -f /tmp/convert_env.awk ${{ env.WORKING_DIRECTORY}}/.env)
          
          cat > values.yaml <<EOF
          image:
            repository: ${{ env.DOCKER_IMAGE }}
            tag: "${{ env.DOCKER_TAG }}"
          envVars:
          $ENV_MAP
          EOF
          
      - name: Deploy on cluster  
        uses: noi-techpark/github-actions/helm-deploy@v2
        with:
          k8s-name: ${{ env.PROJECT_NAME }}
          k8s-namespace: legacy-collector
          chart-path: helm/collector
          values-file: values.yaml
          aws-access-key-id: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_PROD_ACCESS_KEY_SECRET }}
          aws-eks-cluster-name: aws-main-eu-01
          aws-region: eu-west-1

